<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/index-styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="/fontawesome/css/all.css" rel="stylesheet" />
    <!--load all styles -->
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Montserrat:ital@0;1&display=swap"
        rel="stylesheet" />
    <title>Pebble Beach Poetry</title>
</head>

<body>
    <header> 

        <%- include('./partials/nav.ejs') %>
        
        <div class="header__bottom container">
            <% const featured = posts.find(post => post.featured === 'true') %>
                <div class="featured__container flow-content">
                <i class="fas fa-quote-left featured__quote-sign"></i>
                <h3 class="featured-text">
                    <%= featured.teaser %>
              </h3>
                <a class="featured-link" href="/poem/<%= featured.slug %>">Read poem...</a>
            </div>  
            
        </div>
    </header>
    <div class="header__sort container">
        <a class="sort__btn-recent" href="/sort/most-recent">Most recent</a>
        <a class="sort__btn-a-z" href="/sort/a-z">A-Z</a>
    </div>

    <section>
        <div class="poem__collection-grid container">
            <% if (posts) { %>
                <% posts.forEach(post => { %>
                    <a class="link-poem" href="/poem/<%= post.slug %>">
                        <article class="poem__preview">
                            <i class="fas fa-quote-left quote-icon"></i>
                            <div class="poem__preview__container-text">
                                <h2><%= post.title %></h2>
                                <%= post.teaser %>
                            </div>
                        </article>
                    </a>
                <% }) %>
            <% } %>
        </div>
    </section>

    <%- include('./partials/footer.ejs')  %>

</body>
</html>